<header>
  <div class="container-fluid py-5 text-center">
    <article>
      <h1 class="intro"><%= theme.header_text %></h1>
			<a href="#shop" class="header-link"><%= theme.button_text %></a>
    </article>
  </div>
</header>
