<div class="container navigation">
  <nav class="navbar navbar-toggleable-sm navbar-light px-1 py-0 my-3 mb-sm-3">
    <a class="navbar-brand ml-2" href="<%- config.root %>"><span class="title">[ARTISAN BEARDS]</span></a>
    <button class="navbar-toggler navbar-toggler-right py-2" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-center mt-3 mt-md-0" id="navbarCollapse">
      <ul class="navbar-nav ml-auto my-auto">
        <% for (var i in theme.menu){ %>
          <li class="nav-item">
            <a class="nav-link" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
          </li>
        <% } %>
        <!-- Below is for snipcart cart -->
        <!-- <li class="nav-item mt-md-0 pl-md-3 mt-2 pl-0">
          <a href="#" class="snipcart-checkout">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            <span class="snipcart-summary">
              (<span class="snipcart-total-items"></span>)
            </span>
          </a>
        </li> -->
      </ul>
    </div>
  </nav>
</div>
