<div class="row">
  <div class="col-12 col-lg-8 offset-lg-2 mt-md-2">

    <div class="post-page text-center mb-4">
      <h3><%- item.title || "Untitled" %></h3>
    </div>

    <div class="page-content">
      <%- item.content %>
    </div>

  </div>
</div>
